html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.home__bg {
  background-image: url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}

.login__bg {
  background-image: url(https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.login-form {
  width: 80%;
  max-width: 500px;
}

.register__bg {
  background-image: url(https://images.unsplash.com/photo-1622556498246-755f44ca76f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fG1lc3NhZ2UlMjBhcHB8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.btn-send-msg {
  width: 100%;
  height: 100%;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-output {
  height: 75vh;
  border: 1px solid #d3d3d3;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message-inner {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  min-width: 200px;
  max-width: 90%;
  text-align: left;
  min-height: 80px;
  font: 400 1em, sans-serif;
  display: inline-block;
  border-radius: 10px;
  background-color: #d1e7dd;
}

.incoming-message .message-inner {
  background-color: #ffdab9;
}

.incoming-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.message-timestamp-left {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 10px;
}

.message-sender {
  margin-bottom: 5px;
  font-weight: bold;
}

.message-date-indicator {
  width: 150px;
  margin: 0 auto;
}

.conversation-info {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  height: 100px;
}

.conversation-profile-pic {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 10px auto;
  margin-bottom: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
